<div class="container">
    <app-menu></app-menu>
    <form action="" [formGroup]="form">
        <div class="dados">
            <label for="" class="title-form">Nome</label>
            <input type="text" formControlName="nome">
        </div>
        <div class="dados">
            <label for="" class="title-form">Quantidade</label>
            <input type="text"formControlName="tamanho">
        </div>
        <div class="dados">
            <label for="" class="title-form">Descrição</label>
            <input type="text"formControlName="descricao">
        </div>
        <div class="div">
            <label for="" class="title-form">Valor Unitário</label>
            <input type="text"formControlName="valor_unitario">
        </div>
        <button (click)="onSubmit()" class="button-register">Cadastrar</button>
    </form>
</div>
