
form{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 100px;
    gap: 12px;
    
    .title-form{
        font-weight: 600;
        font-size: 24px;
        line-height: 100%;
        /* identical to box height, or 24px */
        
        
        /* Cinzas/cinza 400 */
        
        color: #7A7786;
    }
    input{
        padding: 0px 10px;
        gap: 10px;

        width: 400px;
        height: 40px;

        /* Cinzas/cinza 400 */

        border: 2px solid #7A7786;
        border-radius: 16px;
    }
}

.container{
    display: flex;
    height: 100vh;
}

.button-register{
    width: 120px;
    height: 54px;

    /* Cor/cor 1 */

    background: #38B6FF;
    border-radius: 30px;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    /* identical to box height, or 16px */


    /* Escala/Color 600 */

    color: #F1F0F5;
}