<div class="menu">
    <img src="../../../assets/Logos/logo.svg" alt="Preço Certo" class="logo-menu">
    <nav>
        <a routerLink="/home-sistema" class="button">
            <img src="../../../assets/Icons/icon-home-g.svg" alt="" class="green-hover">
            <img src="../../../assets/Icons/icon-home-b.svg" alt="" class="blue">
            <h5>Home</h5>
        </a>
        <a routerLink="/ingredientes" class="button">
            <img src="../../../assets/Icons/icon-ingredientes-g.svg" alt="" class="green-hover">
            <img src="../../../assets/Icons/icon-ingredientes-b.svg" alt="">
            <h5>Ingredientes</h5>
        </a>
        <!-- <a class="button">
            <img src="../../../assets/Icons/icon-receitas-g.svg" alt="" class="green-hover">
            <img src="../../../assets/Icons/icon-receitas-b.svg" alt="">
            <h5>Receitas</h5>
        </a> -->
        <a routerLink="/produtos" class="button">
            <img src="../../../assets/Icons/icon-produtos-g.svg" alt="" class="green-hover">
            <img src="../../../assets/Icons/icon-produtos-b.svg" alt="">
            <h5>Produtos</h5>
        </a>
        <a class="button">
            <img src="../../../assets/Icons/icon-pedidos-g.svg" alt="" class="green-hover">
            <img src="../../../assets/Icons/icon-pedidos-b.svg" alt="">
            <h5>Pedidos</h5>
        </a>
        <a class="button">
            <img src="../../../assets/Icons/icons-clientes-g.svg" alt="" class="green-hover">
            <img src="../../../assets/Icons/icons-clientes-b.svg" alt="">
            <h5>Clientes</h5>
        </a>
        <a class="button">
            <img src="../../../assets/Icons/icon-gestão-g.svg" alt="" class="green-hover">
            <img src="../../../assets/Icons/icon-gestão-b.svg" alt="">
            <h5>Gestão</h5>
        </a>
    </nav>
</div>