<div class="body">
    <app-menu></app-menu>
    <div class="container">
        <header>
            <h3 class="bold">Produtos</h3>
            <nav>
                <div class="pesquisar">
                    <input type="text" placeholder="Pesquisar" class="input-pesquisa">
                    <img src="../../../../assets/Icons/icon-lupa.svg" alt="Pesquisar">
                </div>
                <button routerLink="/novo-produto" class="button ingrediente">Novo Poduto</button>
            </nav>
        </header>
        <section class="flex-box">
            <div class="card">
                <h5 class="h5-bold">Raviolli</h5>
                <img src="../../../assets/Image/image 27.png" alt="" class="img-produto">
                <h5 class="h5-bold price">R$ 25,00</h5>
                <div class="venda">
                    <p>Última Venda</p>
                    <p class="p-bold">14/05/2023</p>
                </div>
                <div class="icon">
                    <img src="../../../assets/Icons/icon-edit.svg" alt="">
                </div>
            </div>
        </section>
    </div>
</div>