<div class="body">
    <app-menu></app-menu>
    <div class="container">
        <header>
            <h3 class="bold">Produtos</h3>
            <nav>
                <div class="pesquisar">
                    <input type="text" placeholder="Pesquisar" class="input-pesquisa">
                    <img src="../../../../assets/Icons/icon-lupa.svg" alt="Pesquisar">
                </div>
                <button routerLink="/novo-produto" class="button ingrediente">Novo Poduto</button>
            </nav>
        </header>
        <section class="flex-box">
            <app-card-produto></app-card-produto>
            <app-card-produto></app-card-produto>
            <app-card-produto></app-card-produto>
            <app-card-produto></app-card-produto>
            <app-card-produto></app-card-produto>
            <app-card-produto></app-card-produto>
            <app-card-produto></app-card-produto>
            <app-card-produto></app-card-produto>
            <app-card-produto></app-card-produto>
            <app-card-produto></app-card-produto>
            <app-card-produto></app-card-produto>
            <app-card-produto></app-card-produto>
            <app-card-produto></app-card-produto>
            <app-card-produto></app-card-produto>
            <app-card-produto></app-card-produto>
            <app-card-produto></app-card-produto>
            <app-card-produto></app-card-produto>
            <app-card-produto></app-card-produto>
            <app-card-produto></app-card-produto>
            <app-card-produto></app-card-produto>
            <app-card-produto></app-card-produto>
            <app-card-produto></app-card-produto>
        </section>
    </div>
</div>