<div class="body">
    <app-menu></app-menu>
    <div class="container">
        <header>
            <h3 class="bold">Lista de Compras</h3>
            <nav>
                <div class="pesquisar">
                    <input type="text" placeholder="Pesquisar" class="input-pesquisa">
                    <img src="../../../../assets/Icons/icon-lupa.svg" alt="Pesquisar">
                </div>
                <button class="button-ingrediente">Novo Ingrediente</button>
                <button class="button-fornecedores">Fornecedores</button>
            </nav>
        </header>
        <section>
            <div class="info-pedido">
                <h5 class="h5-bold">Informações do Pedido</h5>
                <form action="" class="form-info">
                    <div class="input">
                        <label class="title-input">NF / Nº Pedido</label>
                        <input type="text" name="" id="" placeholder="NF/ Nº Pedido" class="input1">
                    </div>
                    <div class="input">
                        <label class="title-input">Fornecedor</label>
                        <input type="text" name="" id="" placeholder="Nome do Fornecedor" class="input1">
                    </div>
                    <div class="input">
                        <label class="title-input">Data</label>
                        <input type="date" name="" id="" class=" input1 input2">
                    </div>
                </form>
            </div>
            <div class="items">
                <h5 class="h5-bold">Items do Pedido</h5>
                <form action="">
                  <table class="content-table">
                      <thead>
                        <tr>
                          <td class="title-table">CÓDIGO</td>
                          <td class="title-table">INGREDIENTE</td>
                          <td class="title-table">QUANTIDADE</td>
                          <td>&nbsp;</td>
                          <td class="title-table">PREÇO</td>
                          <td class="title-table">TAMANHO</td>
                          <td>&nbsp;</td>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>1</td>
                          <td>Farinha de Trigo</td>
                          <td>120</td>
                          <td>gramas</td>
                          <td>R$ 25,90</td>
                          <td>1000</td>
                          <td>gramas</td>
                        </tr>
                        <tr>
                          <td>1</td>
                          <td>Farinha de Trigo</td>
                          <td>120</td>
                          <td>gramas</td>
                          <td>R$ 25,90</td>
                          <td>1000</td>
                          <td>gramas</td>
                        </tr>
                        <tr>
                          <td>1</td>
                          <td>Farinha de Trigo</td>
                          <td>120</td>
                          <td>gramas</td>
                          <td>R$ 25,90</td>
                          <td>1000</td>
                          <td>gramas</td>
                        </tr>
            
                        
                      </tbody>
                    </table>
                  <button class="button-adicionar">Adicionar Ingrediente</button>
                </form>
            </div>
        </section>
        
    </div>
</div>