// estilização padrão sistema ==========
.body {
    display: flex;
  }
  
  .container {
    padding: 40px 42px;
    width: 1595px;
    height: 100vh;
  }
  
  .bold {
    color: var(--gray-200);
  }
  
  // Estilização do header
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
  }
  
  nav {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .button-ingrediente,
  .button-fornecedores {
    background: var(--color-one);
    border-radius: 30px;
    border: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: var(--color-branco);
    width: 176px;
    height: 40px;
  }
  
  .button-fornecedores {
    background: var(--color-two);
  }
  
  .button-fornecedores:hover {
    background: transparent;
    border: 2px solid var(--color-two);
    color: var(--color-two);
  }
  .button-ingrediente:hover {
    background: transparent;
    border: 2px solid var(--color-one);
    color: var(--color-one);
  }
  
  .pesquisar {
    width: 268px;
    height: 40.5px;
    border: 2px solid var(--gray-400);
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 16px;
  }
  
  .input-pesquisa {
    background-color: transparent;
    border: none;
    height: 100%;
    width: 100%;
    padding: 0 16px;
  }
  
  .input-pesquisa::placeholder {
    color: var(--gray-500);
  }

  .flex-box{
    display:flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  .card{
    background: var(--color-branco);
    box-shadow: 3px 5px 14px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    height: 178px;
    width: 456px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title{
        display: flex;
        justify-content: space-between;

        .h5-bold{
            color: var(--gray-300);
        }

        .lapis{
            width: 24px;
        }
    }

    .body{
        display: flex;
        gap: 22px;
        align-items: center;

        .backgound-img{
            background: #F1F0F5;
            border-radius: 134px;
            height: 60px;
            width: 60px;
            display: flex;
            align-items: center;
            justify-content: center;

            .img-ingre{
                width: 40px;
                height: 40px;
            }
        }

        .info{
            .h5-bold{
                background: rgba(137, 196, 0, 0.19);
                border-radius: 42px;
                font-weight: 600;
                font-size: 24px;
                line-height: 100%;
                padding: 5px 16px;
                color: var(--color-two);
                margin-bottom: 12px
            }

            .flex-box{
                display: flex;
                gap: 16px;
                
                p{
                    color: var(--gray-400);
                }
            }
        }
    }

}