<div class="body">
    <app-menu></app-menu>
    <div class="container">
        <header>
            <h3 class="bold">Ingredientes</h3>
            <nav>
                <div class="pesquisar">
                    <input type="text" placeholder="Pesquisar" class="input-pesquisa">
                    <img src="../../../../assets/Icons/icon-lupa.svg" alt="Pesquisar">
                </div>
                <button routerLink="/novo-ingrediente" class="button-ingrediente">Novo Ingrediente</button>
                <button routerLink="/lista" class="button-fornecedores">Lista de Compra</button>
            </nav>
        </header>
        <section class="flex-box">
            <app-card-ingrediente></app-card-ingrediente>
            <app-card-ingrediente></app-card-ingrediente>
            <app-card-ingrediente></app-card-ingrediente>
            <app-card-ingrediente></app-card-ingrediente>
            <app-card-ingrediente></app-card-ingrediente>
            <app-card-ingrediente></app-card-ingrediente>
            <app-card-ingrediente></app-card-ingrediente>
        </section>
    </div>
</div>
