<div class="card">
    <div class="title">
        <h5 class="h5-bold">Farinha de Trigo</h5>
        <img src="../../../assets/Icons/icon-lapis.svg" alt="Alterar" class="lapis">
    </div>
    <div class="body">
        <div class="backgound-img">
            <img src="../../../assets/Image/image-ingre.svg" alt="" class="img-ingre">
        </div>
        <div class="info">
            <h5 class="h5-bold">R$ 22,45</h5>
            <div class="flex-box">
                <p>5.000g</p>
                <p>26/02/2023</p>
            </div>
        </div>
    </div>
</div>