<app-header></app-header>
<div class="body">
    <div class="container">
        <div class="title">
            <div class="texts">
                <h3 class="bold">{{title}}</h3>
                <p class = "p-bold">{{subtitle}}</p>
            </div>
            <img src="../../../assets/Logos/logo-text.svg" alt="Preço Certo">
        </div>
        <form action="post">
            <div class="form-row">
                <div class="input">
                    <p class = "p-bold">CNPJ</p>
                    <input type="text" placeholder="{{cnpj}}">
                </div>
                <div class="input">
                    <p class = "p-bold">Razão Social</p>
                    <input type="text" placeholder="{{razao}}">
                </div>
            </div>
            <div class="form-row">
                <div class="input">
                    <p class = "p-bold">Nome Fantasia</p>
                    <input type="text" placeholder="{{fantasia}}">
                </div>
                <div class="input">
                    <p class = "p-bold">Data de Fundação</p>
                    <input type="date">
                </div>
            </div>
        </form>
    </div>
</div>