<app-header></app-header>
<section  id="login">
    <div class="container login">
        <form id="form" onsubmit="return validarLogin()" class="form-login">
            <h4 class="title-login">Hora de Faturar</h4>
            <div class="">
                <p class="p-bold p-login">Usuário</p>
                <input id="usuario" type="text" class="input-login" value="">
            </div>
            <div class="">
                <p class="p-bold p-login">Senha</p>
                <input id="senha" type="password" class="input-login" value="">
            </div>
            <button type="submit" class="button-acessar">Entrar</button>
            <button class="button-cadastro">Cadastre-se</button>
        </form>
        <img src="../Assets/Images/image-login.svg" alt="" class="img-login">
    </div>
</section>
