<app-header></app-header>
<div class="body">
    <div class="container">
        <div class="left">
            <img src="../../../assets/Image/elipse-home.svg" alt="" class="elipses">
            <h2 class="bold">{{title}}</h2>
            <h5>{{subtitle}}</h5>
            <div class="buttons">
                <a class="button-login">Acessar</a>
                <a class="button-cadastro">Cadastre-se</a>
            </div>
        </div>
        <img src="../../../assets/Image/image-home.svg" alt="Home" class="image-home">
    </div>
</div>